.embellieHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 160px;
  height: 120px;
}

.embellieHeader > h1 {
  font-size: 36px;
  font-family: 'Poppins-SemiBold';
  color: #424241;
  cursor: pointer;
}

.embellieHeader > h1 > span {
  color: #968864;
}

.embellieHeader > nav > ul {
  display: flex;
  list-style: none;
}

.embellieHeader > nav > ul > li {
  font-size: 18px;
  font-family: 'Poppins-Regular';
  color: #424241;
  opacity: 0.5;
  padding: 4px 28px;
  cursor: pointer;
  position: relative;
  cursor: pointer;
}

.embellieHeader > nav > ul > li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #424241;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.embellieHeader > nav > ul > li:hover::after {
  width: 80%;
}

.embellieHeader > nav > ul > li:first-child {
  opacity: 1;
}

.embellieHeader > nav > ul:hover > li {
  opacity: 0.5;
}

.embellieHeader > nav > ul > li:hover {
  opacity: 1;
}

.subMenu {
  display: flex;
}

.subMenu > ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.subMenu > .lang {
  padding-right: 40px;
}

.subMenu > .lang > li {
  font-size: 18px;
  font-family: 'Poppins-Regular';
  color: #424241;
  opacity: 0.5;
  padding: 0 9px;
  cursor: pointer;
}

.subMenu > .lang > li:first-child {
  opacity: 1;
  text-decoration: underline;
}

.subMenu > .lang:hover > li {
  opacity: 0.5;
  text-decoration: none;
}

.subMenu > .lang:hover > li:hover {
  opacity: 1;
  text-decoration: underline;
}

.subMenu img {
  padding-left: 40px;
}

.subMenu .shopping {
  position: relative;
}

.subMenu .shopCircle {
  position: absolute;
  right: 228px;
  top: 37px;
}