@font-face {
  font-family: 'Poppins-Medium';
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(../assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'BebasNeue';
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

@font-face {
  font-family: 'Oswald-SemiBold';
  src: url(../assets/fonts/Oswald-SemiBold.ttf);
}

:root {
  --color-black: #424241;
  --color-mint: #7EDAD2;
  --color-gray: #909090;
  --color-dark-purple: #5D4D66;
  --color-white: #FAFAFA;

  --color-soul-black: #2E2E2E;
  --color-soul-orange: #F77A40;
  --color-soul-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F6F4F1;
  font-family: 'Poppins-Regular', 'Poppins-Medium', 'Poppins-SemiBold', 'Poppins-Bold', 'BebasNeue', 'Oswald-SemiBold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

p, span, a, h2, li {
  cursor: pointer;
}