.archeskyHeader {
  padding: 0 160px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 1600px;
  align-items: center;
  z-index: 10;
  top: 0;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.scrolled {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
}

.archeskyHeader > div {
  display: flex;
  align-items: center;
}

.archeskyHeader > div > img {
  width: 32px;
  height: 32px;
  margin-right: 32px;
}

.archeskyHeader h1 {
  font-size: 36px;
  color: var(--color-black);
  font-family: 'Poppins-SemiBold';
  cursor: pointer;
}

.menus {
  list-style: none;
  display: flex;
}

.menus > li {
  font-size: 18px;
  font-family: 'Poppins-Regular';
  color: var(--color-black);
  margin-left: 56px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.menus li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: var(--color-black);
  transition: width 0.3s ease;
}

.menus li:hover::after {
  width: 100%;
}